body {
    overflow: hidden; /*prevent body scrolling for mobile devices*/
}

#stage {
    /*width: 480px;
    height: 320px;*/
    top: 0;
    left: 0;
    position: absolute;
    /*border: 2px solid black;*/
}

canvas {
    position: absolute;
    /* https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js */
    /*user-drag: none;*/
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#cityCanvas {
    z-index: 0;   
}

#boardCanvas {
    position: absolute;
    /*background: black;*/
    /*width: 100%;
    height: 100%;*/
    top: 0;
    left: 0;
    z-index: -1;
}

/*
#ui-layer {
    z-index: -2;
}
#game-layer {
    z-index: -3;
}
#background-layer {
    z-index: -4;
}
*/

#popup {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}